

/* ---------- RESET Y VARIABLES ---------- */
:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- LINKS ---------- */
a {
  font-weight: 500;
  color: #1a73e8;
  text-decoration: none;
}
a:hover {
  color: #0d47a1;
}

/* ---------- BODY ---------- */
html,

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
}

/* ---------- TITULOS ---------- */
h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #213547;
  margin: 0;
}

/* ---------- BOTONES ---------- */
button {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1.6em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.1s ease-in-out;
}

button:hover {
  background-color: #1669c1;
  transform: scale(1.03);
}

button:focus,
button:focus-visible {
  outline: 2px solid #1669c1;
}

/* ---------- MODO CLARO/OSC. ---------- */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f1f1f1;
    background: #020617; 
  }
  body {
    background: #020617;
  }
  h1 {
    color: #ffffff;
  }
}
